In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# loading data 
train = pd.read_csv("SalaryData_Train.csv")
test = pd.read_csv("SalaryData_Test.csv")

In [3]:
train = pd.merge(train,test,)
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
1,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
2,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
3,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
4,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K

In [4]:
train.shape

(5910, 14)

In [5]:
train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [6]:
train.workclass.unique()

array([' Private', ' Local-gov', ' Federal-gov', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov'], dtype=object)

In [7]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
train['workclass']= label_encoder.fit_transform(train['workclass'])

In [8]:
train.education.unique()

array([' HS-grad', ' Some-college', ' Masters', ' Bachelors', ' 11th',
       ' 1st-4th', ' Assoc-acdm', ' Assoc-voc', ' 10th', ' 7th-8th',
       ' 9th', ' 12th', ' 5th-6th', ' Prof-school', ' Doctorate',
       ' Preschool'], dtype=object)

In [9]:
train['education']= label_encoder.fit_transform(train['education'])

In [10]:
train.occupation.unique()

array([' Handlers-cleaners', ' Craft-repair', ' Machine-op-inspct',
       ' Transport-moving', ' Other-service', ' Prof-specialty',
       ' Exec-managerial', ' Sales', ' Adm-clerical', ' Tech-support',
       ' Protective-serv', ' Farming-fishing'], dtype=object)

In [11]:
train['occupation']= label_encoder.fit_transform(train['occupation'])

In [12]:
train.relationship.unique()

array([' Not-in-family', ' Own-child', ' Husband', ' Wife', ' Unmarried',
       ' Other-relative'], dtype=object)

In [13]:
train['relationship']= label_encoder.fit_transform(train['relationship'])

In [14]:
train.race.unique()

array([' White', ' Black', ' Asian-Pac-Islander'], dtype=object)

In [15]:
train['race']= label_encoder.fit_transform(train['race'])

In [16]:
train.sex.unique()

array([' Male', ' Female'], dtype=object)

In [17]:
train['sex']= label_encoder.fit_transform(train['sex'])

In [18]:
train.native.unique()

array([' United-States', ' Mexico', ' Philippines', ' Jamaica'],
      dtype=object)

In [19]:
train['native']= label_encoder.fit_transform(train['native'])

In [20]:
train.maritalstatus.unique()

array([' Divorced', ' Never-married', ' Married-civ-spouse', ' Separated',
       ' Widowed'], dtype=object)

In [21]:
train['maritalstatus']= label_encoder.fit_transform(train['maritalstatus'])

In [22]:
train.head(2)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,38,2,11,9,0,4,1,2,1,0,0,40,3,<=50K
1,19,2,11,9,2,1,3,2,1,0,0,40,3,<=50K

In [23]:
train.dtypes

age               int64
workclass         int32
education         int32
educationno       int64
maritalstatus     int32
occupation        int32
relationship      int32
race              int32
sex               int32
capitalgain       int64
capitalloss       int64
hoursperweek      int64
native            int32
Salary           object
dtype: object

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(train, test_size = 0.25, random_state = 0)

In [25]:
X_train = X_train.iloc[:,:-1]
y_train = X_train.iloc[:,-1]
X_test =  X_test.iloc[:,:-1]
y_test = X_test.iloc[:,-1]

In [26]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [28]:
ignb = GaussianNB()

In [29]:
pred_gnb = ignb.fit(X_train,y_train).predict(X_test)

In [30]:
# Confusion matrix GaussianNB model
confusion_matrix(y_test,pred_gnb) # GaussianNB model
pd.crosstab(y_test.values.flatten(),pred_gnb) # confusion matrix using 
np.mean(pred_gnb==y_test.values.flatten())

1.0

# ======================== The End =============================